html,
body {
  background: black;
  color: green;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
}
body{
    font-weight: 400;
}
button {
    font-family: 'Press Start 2P', cursive;
    display: block;
    margin: 0 auto
   
   

}
h1{
    font-size: 20px;
    text-align: center;

}
textarea {
    
    font-family: 'Press Start 2P', cursive;
    border: 3px solid black;
    width: 90%
 

}
